# Cloudant
CLOUDANT_URL=
CLOUDANT_USERNAME=
CLOUDANT_PASSWORD=

# IBM App ID
APPID_ISSUER=
APPID_CLIENT_ID=
APPID_CLIENT_SECRET=
APPID_JWKS_URI=
APPID_REDIRECT_URI=

# Ports
PORT=5004

# Watson
WATSONX_API_KEY=
WATSONX_URL=
WATSONX_PROJECT_ID=

